.list-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;

    .borrow-container {
        margin-bottom: 25px;
        button {
            width: 100%;
            text-align: center;
        }

    }
} 